body {
  font-family: sans-serif;
  background-color: black;
}

header {
  background-color: #000;
  color: #fff;
  height: 50px;
  padding: 40px;
}





nav{
  position:relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a.home:hover {
  color: red;
}
a.shopart:hover{
  color:yellow;
}
a.gallery:hover{
  color:purple;
}

a.contactme:hover{
  color:skyblue;
}

a.mystory:hover{
  color:green;
}
.index{
  width: 50%;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 20px;
  float: left;
}
.index-mystory{
  width: 50%;
  background-color: black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-right: 20%;
  float: right;

}
h1 {
  font-family: 'Bodoni Moda', serif ;
  text-align: left;
  font-size: 750%;
  color: white;

  padding-top: 70px;
  padding-left: 50px;
}

}
.img-container{
  float:right;
  width: 50%;
}
.img-container-mystory{
  float: left;
  width: 50%;

}


}

img {




}
